{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * A11y color fieldtype plugin for Craft CMS
 *
 * A11ycolor Field Settings
 *
 * @author    Iain Bean
 * @copyright Copyright (c) 2018 Iain Bean
 * @link      https://iainbean.com
 * @package   A11yColorFieldtype
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("inbn\\a11ycolorfieldtype\\assetbundles\\a11ycolorfield\\A11ycolorFieldAsset") %}

{# @TODO This should really be a legend with a fieldset inside it, but will need styling #}
<div class="field">
    <div class="heading">
        <label>Will this field’s value be used as a text or background color?</label>
    </div>
    {{ textOrBackgroundField | raw }}
</div>

{{ contrastColorField | raw }}

<div class="field">
    <div class="heading">
        <label>Font size</label>
        <div class="instructions">The smallest size in <strong>pixels</strong> that the text will be displayed</div>
    </div>
    {{ fontSizeField | raw }}
</div>

{{ defaultColorField | raw }}
